# Compiler files
cache/
out/

# Foundry / Solidity
lib/

# Commonly ignored directories
.logs/
.ignore/


# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

dapp/node_modules